h1, form {
  text-align: center;
  color: #141414;
}

.showimg {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  /* display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  text-align: center */
}

.showimg p{
  display: block;
}

form {
  margin: 10px 
}

img {
  margin-top: 10px
}

body {
  background: #faebd7;
  color: #141414
}

.edit {
  margin: 2px
}