h1, form {
  text-align: center;
  color: #1a1a1a
}

.showimg {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  /* display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  text-align: center */
}

.showimg p{
  display: block;
}

form {
  margin: 10px 
}

img {
  margin-bottom: 10px
}

body {
  background-image: url('../images/woodbg.jpg'); 
  color: #F5F5F5
}

.edit {
  margin: 2px
}